.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.socials {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-pre {
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 15px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  white-space: pre-wrap;
  overflow: auto;
  width: 75%;
}

.socials-pre a {
  color: #ce9178;
  text-decoration: none;
}

.socials-pre a:hover {
  text-decoration: underline;
}

.divider {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  margin-top: 0;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  background-color: #252526;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  color: #d4d4d4;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
  font-size: 14px;
  transition: border-color 0.3s;
}

.contact-form textarea {
  max-height: 150px;
  overflow: auto;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007acc;
  outline: none;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.contact-form button:hover {
  background-color: #005fa3;
  transform: translateY(-1px);
}

.contact-form button:active {
  transform: translateY(1px);
}

@media (max-width: 600px) {
  .socials-pre {
    font-size: 16px;
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 12px;
  }

  .contact-form button {
    font-size: 12px; 
  }
}

.code-selector {
  color: #74d858;
}

.code-brace {
  color: #d4d4d4;
}

.code-property {
  color: #9cdcfe;
}

.code-colon {
  color: #d4d4d4;
}

.code-value {
  color: #ce9178;
}