.header {
  height: 30px;
  background: #333333;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  border-bottom: 2px solid #444;
}

.portfolio-title {
  flex: 2;
  text-align: center;
}

.window-controls {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.window-controls:hover {
  color: #ff9999;
}

.menu-options {
  cursor: pointer;
}

@media (max-width: 570px) {
  .menu-options {
    display: none;
  }
}
