.status-bar {
  height: 20px;
  background: #333333;
  color: white;
  display: flex; 
  justify-content: space-between; 
  padding: 0 10px;
  font-size: 12px; 
  align-items: center; 
  position: relative; 
}

.icon {
  position: relative;
  z-index: 2;
}

.main-text {
  margin-left: 5px;
  z-index: 1; 
}

.error {
  margin-left: auto;
}

@media (max-width: 600px) {
  .status-bar {
    padding: 5px;
    font-size: 10px;
    flex-wrap: nowrap;
  }

  .main {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .error {
    margin-left: 10px;
    white-space: nowrap;
  }
}
